.w-3 {
    width: 3%;
}
.size {
    width: 180%;
    height: 200px;
}
.ms-7 {
    margin-left: 70px;
}

.listContainer:hover {
    z-index: 2;
}

.transitionXY {
    transition: all 1s ease;
}

.translateX-10 {
    transform: translateX(0px);
    transform: translateX(0);
}

.width-max-content {
    width: max-content;
}